*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
    font-family: 'Oxygen Mono';
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 1em;
}

@media screen and (min-width: 75em) {
  .container {
    width: 72em;
  }
}

.buttons--group {
    margin: 2em 0;
}

.description {
    color: #999999;

    .description__bold {
        color: #303030;
    }

}
